<!DOCTYPE html>
<html>
    <head>
        <title>Node js express mongodb crud</title>
   <link
      rel="stylesheet"
      href="https://bootswatch.com/4/journal/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    </head>
    <body class="bg-info">

        <div class="container">
            <div  style=" background-color:beige; margin-top: 25px; padding:20px;">
                {{{body}}}
            </div>
        </div>
        
    </body>
</html>